@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<!-- header -->
<div class="index_header">
    <h1 class="index_h1">Movie Database</h1>
    <!-- filters -->
    <div id="options_parent" class="options_parent">
        <h5 class="options_child">Filter by:</h5>
        <div class="options_child dropdown">
            <button class="btn_red btn btn-primary dropdown-toggle" type="button" id="genre" data-toggle="dropdown">Genre</button>
            <div class="dropdown-menu">
                <button class="dropdown-item" type="button" data-key="genre">Action</button>
                <button class="dropdown-item" type="button" data-key="genre">Adventure</button>
                <button class="dropdown-item" type="button" data-key="genre">Animation</button>
                <button class="dropdown-item" type="button" data-key="genre">Comedy</button>
                <button class="dropdown-item" type="button" data-key="genre">Crime</button>
                <button class="dropdown-item" type="button" data-key="genre">Documentary</button>
                <button class="dropdown-item" type="button" data-key="genre">Drama</button>
                <button class="dropdown-item" type="button" data-key="genre">Family</button>
                <button class="dropdown-item" type="button" data-key="genre">Fantasy</button>
                <button class="dropdown-item" type="button" data-key="genre">History</button>
                <button class="dropdown-item" type="button" data-key="genre">Horror</button>
                <button class="dropdown-item" type="button" data-key="genre">Music</button>
                <button class="dropdown-item" type="button" data-key="genre">Mystery</button>
                <button class="dropdown-item" type="button" data-key="genre">Romance</button>
                <button class="dropdown-item" type="button" data-key="genre">Science Fiction</button>
                <button class="dropdown-item" type="button" data-key="genre">TV Movie</button>
                <button class="dropdown-item" type="button" data-key="genre">Thriller</button>
                <button class="dropdown-item" type="button" data-key="genre">War</button>
                <button class="dropdown-item" type="button" data-key="genre">Western</button>
            </div>
        </div>
        <div class="options_child dropdown">
            <button class="btn_red btn btn-primary dropdown-toggle" type="button" id="year" data-toggle="dropdown">Year</button>
            <div class="dropdown-menu">
                <button class="dropdown-item" type="button" data-key="release_date">2019</button>
                <button class="dropdown-item" type="button" data-key="release_date">2018</button>
                <button class="dropdown-item" type="button" data-key="release_date">2017</button>
                <button class="dropdown-item" type="button" data-key="release_date">2016</button>
                <button class="dropdown-item" type="button" data-key="release_date">2015</button>
                <button class="dropdown-item" type="button" data-key="release_date">2014</button>
                <button class="dropdown-item" type="button" data-key="release_date">2013</button>
                <button class="dropdown-item" type="button" data-key="release_date">2012</button>
                <button class="dropdown-item" type="button" data-key="release_date">2011</button>
                <button class="dropdown-item" type="button" data-key="release_date">2010</button>
                <button class="dropdown-item" type="button" data-key="release_date">2009</button>
                <button class="dropdown-item" type="button" data-key="release_date">2008</button>
                <button class="dropdown-item" type="button" data-key="release_date">2007</button>
                <button class="dropdown-item" type="button" data-key="release_date">2006</button>
                <button class="dropdown-item" type="button" data-key="release_date">2005</button>
                <button class="dropdown-item" type="button" data-key="release_date">2004</button>
                <button class="dropdown-item" type="button" data-key="release_date">2003</button>
                <button class="dropdown-item" type="button" data-key="release_date">2002</button>
                <button class="dropdown-item" type="button" data-key="release_date">Older</button>
            </div>
        </div>
        <div class="options_child">
            <form class="form-inline search_red">
                <div class="form-group">
                    <input type="text" class="form-control" id="title" placeholder="Title . . .">
                </div>
                <button type="button" class="btn btn-primary btn_red search_red btn_seach" data-key="title">Search</button>
            </form>
        </div>

    </div>
    <!-- end filters -->

</div>    <!-- end header -->

    
<!-- movies --><div id="list_parent" class="list_parent">
    <div id="spinner" class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- end movies -->
<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Film Movie.movies[0].title came out (Movie.movies[0].releaseDate.ToShortDateString()). It was a great movie.</p>
    <form method="post"><button class="btn btn-primary">Click to post</button></form>
    <form method="Get"><button type="button" class="btn btn-primary" onClick="TestList()">Load</button></form>
    <p id="testing">nothing</p></div>-->
