@page
@model MovieDatabase.MovieModel
@{
    ViewData["Title"] = "Movie";
}

<div id="parent">
    <div class="movie-parent">
        <img class="movie-poster list_poster img-fluid" alt="Responsive image" src="http://dummyimage.com/500x750.bmp/5fa2dd/ffffff" />
        <div class="movie-text">
            <h1 class="movie-title">The Avengers: Infinity War</h1>
            <h1 class="movie-small movie-genre inline">Action | Adventure | Horror</h1>
            <h1 class="movie-small movie-star inline">&#9733 8.6</h1>
            <p class="movie-small">Donec ut mauris eget massa tempor convallis. Nulla neque libero, convallis eget, eleifend luctus, ultricies eu, nibh. Quisque id justo sit amet sapien dignissim vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla dapibus dolor vel est. Donec odio justo, sollicitudin ut, suscipit a, feugiat et, eros.</p>
            <p class="movie-small">Relased: 2019-08-03</p>
            <p class="movie-small">runtime: 156 min</p>
            <p class="movie-small">budget: $125,000,000.00</p>
            <p class="movie-small">Director: Taika Watiki</p>
        </div>
    </div>
    <div class="actor-list" id="actor-list">
    </div>
</div>